body{
    
    background-color: rgb(218, 197, 173);
    line-height: rem;
}
.container{
    color: rgba(0, 0, 0, 0.644);
    width: 47%;
    background-color:white;
    display: flex;
    padding: px;
    border-radius: 20px;
    margin-left: 28%;
    margin-top: 7%;
    
}


img{
    width: 50%;

}
span{
    margin-top: 5%;

    color: green;
    font-size: xx-large;
}
h2{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    padding-top: 10%;
    font-style: normal;
}
.div2{
    padding: 0.5;
    width: 50%;
    margin-left: 5%;
    
}
h1{
    font-weight: bolder;
}
.price{
    display: flex;
    padding-top: 10%;
}
#strike{
    margin-left: 5%;
    text-decoration-line: line-through;
}
p{
    padding-top: 5%;
    letter-spacing: 0.1rem;
}
button{
    padding: 10px 50px;
    justify-content: center;
    background-color: darkgreen;
    color: white;
    border-radius: 7px;
    border: none;
    margin-left: 10%;
    display: flex;
}
button:hover{
    transition-duration: 0.1s;
    background-color: black;
}
@media screen and (max-width:600px){
    .container{
        /* width: 700px; */
    }
    .container{
        width: 80%;
        background-color:white;
        display: grid;
        padding: px;
        }
        img{
            width: 100%;
        }
        span{
            margin-top: none;
        }
        p{
            padding-top: 0;
        }
        .price{
            
            padding-bottom: 20%;
        }
        button{
            margin-left: 50%;
            padding: 2px 8rem;
            margin-left: 10%;
            margin-bottom: 10%;
            display: flex;
        
        }
        
}
    
